.composition__regulations {
  padding: 0;
  list-style-type: none;
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 56px;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 1365px) {
  .composition__regulations {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: 100%;
    gap: 0;
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .composition__regulations {
    margin-top: 80px;
  }
}