.button {
  font-family: $fontFamily;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  border: black 2px solid;
  border-radius: 100px;
  min-height: 49px;
  max-width: 228px;
  background-color: white;
  cursor: pointer;
}

.button:hover {
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .button {
    max-width: 169px;
    min-height: 40px;
  }
}