.appointment {
  background-color: #DF2626;
  display: grid;
  grid-template-columns: 129px 685px;
  column-gap: 50px;
}

@media screen and (max-width: 1365px) {
  .appointment {
    grid-template-columns: 1fr;
  }
}