.course {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-auto-rows: min-content 1fr min-content;
}

@media screen and (max-width: 1365px) {
  .course {
    grid-template-columns: 100%;
    grid-auto-rows: min-content 1fr min-content min-content;
    row-gap: 30px;
  }
}