.header__logo {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0,0,0,0);
  max-height: 40px;
  background-image: url(../images/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  justify-self: end;
}

@media screen and (max-width: 767px) {
  .header__logo {
    height: 30px;
    width: 30px;
    align-self: flex-start;
  }
}

.header__logo:hover {
  animation: rotation 1s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}