.section__name {
  margin: 0 0 50px 0;
  font-family: $fontFamily;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (max-width: 1365px) {
  .section__name {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .section__name {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 30px 0;
  }
}

.section__name::before {
  border-top: 1px black solid;
  height: 20px;
  width: 100%;
  display: none;
  content: '';
}

@media screen and (max-width: 767px) {
  .section__name::before {
    display: block;
  }
}