.appointment__container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 129px 685px;
  column-gap: 50px;
}

@media screen and (max-width: 1365px) {
  .appointment__container {
    grid-template-columns: 1fr;
  }
}